body {
    background-color: lightgray;
}

#login {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

#login a {
    margin-right: 4em;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#navBarConnected {
    display: flex;
    gap: 1em;
    margin-right: 4em;
}